{% extends "base.html" %}

{% block sidebar %}
            <ul>
                <li><a href="/~p16/mysite.wsgi/blog">Wroc</a></li>
            </ul>
            {% endblock %}

{% block content %}
    <div class="wpis">
    <h1>{{ wpis.tytul  }}</h1>
    <p>Tresc:<br>  {{ wpis.tresc }}</p>
    <br><br>
    <p>Podpis:<br> {{ wpis.podpis }}</p>
        </div>
{% endblock %}