{%  extends "base.html" %}

{% block sidebar %}
<ul>
    <li><a href="/~p16/mysite.wsgi/blog">Wroc</a></li>
</ul>
{% endblock %}
{% block content %}
    {% if wiad %}
        <h3 style="text-align: center">{{ wiad }}</h3>
    {% endif %}
<form action="/~p16/mysite.wsgi/blog/create/" method="post">{% csrf_token %}
<ul>
     {{ form.as_ul }}
</ul>
<input type="submit" value="Dodaj wpis">
</form>

{% endblock %}