{%  extends "base.html" %}

{% block sidebar %}
<ul>
    <li><a href="/~p16/mysite.wsgi/blog">Wroc</a></li>
</ul>
{% endblock %}
{% block content %}
    <h2>Blad strony!!</h2>
    <h3>Mozliwe ze podales zly adres ktory nie istnieje!</h3>
{% endblock %}