{% extends "base.html" %}

{% block content %}
    <h2>Twoje dane do logowania sa nieprawidlowe</h2>
    <p>Kliknij tu <a href="/~p16/mysite.wsgi/accounts/login/">zaloguj</a> aby sie ponownie zalogowac</p>
{% endblock %}