{% extends "base.html" %}

{% block content %}

    <h2>Witaj {{ full_name }}, jestes zalogowany</h2>
    <p>Kliknij tu <a href="/~p16/mysite.wsgi/accounts/logout/">wyloguj</a> aby sie wylogowac.</p>
{% endblock %}